.comments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  padding-bottom: 150px;
}

.comment {
  width: calc(50% - 50px);
}

.comment:last-child:nth-child(2n - 1) {
  width: 72%;
}

.comment__title {
  font-size: 45px;
  line-height: 61.5px;
  letter-spacing: -0.03em;
  margin-bottom: 14px;
}

.comment__text {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
}

@media (max-width: 1050px) {
  .comments {
    padding-bottom: 120px;
    row-gap: 80px;
  }

  .comment {
    width: calc(50% - 10px);
  }

  .comment__title {
    font-size: 30px;
    line-height: 47.8px;
    margin-bottom: 25px;
  }

  .comment__text {
    font-size: 20px;
    line-height: 27.3px;
  }
}
@media (max-width: 767px) {
}

@media (max-width: 670px) {
}

@media (max-width: 500px) {
  .comments {
    flex-direction: column;
    padding-bottom: 80px;
  }

  .comment {
    width: 100%;
  }

  .comment:last-child:nth-child(2n - 1) {
    width: 100%;
  }

  .comment__title {
    font-size: 25px;
    line-height: 34.2px;
    margin-bottom: 10px;
  }

  .comment__text {
    font-size: 16px;
    line-height: 21.9px;
  }
}
